body {background:#fff; color:#000; margin-left:6%; margin-right:3%; font-family: helvetica,sans-serif;}
p  {margin: 1em 3em 1em 0.5em;}
a {background:transparent; color:#000; text-decoration:none; }
img, #infor ul, #menu, #hide a  {display:none; background:transparent; color:#fff;}
.stil, .htwo, #cont, #hide {background:transparent; color:#000; margin-left:0px; border:0;}
.vit {background:transparent; color:#fff; font-weight:bold;}
.htwo { margin-left:0px; text-align:left; width:8em; background:transparent; color:#000;}
#urub {font-size:90%; text-align:center;}
#def {float: left; margin-bottom:1em;}
#cust {float: right;}
