p  {margin:0px 10px 8px 10px; font:90% helvetica,sans-serif;}
h2 {margin-bottom:10px}
a:link {color:#00f; background:transparent;}
a:visited {color:#00a; background:transparent;} 
a:link:hover {color:#f00; background:#d0d0d0}
a:visited:hover {color:#cc0; background:#d0d0d0}
.helv {font:90% helvetica,sans-serif;}