body {background:#9a9aaa; color:#fff; font-family: sans-serif; font-size:90%; margin-right:9%; max-width: 1000px; min-width: 700px; margin: auto;}
h1{font-family:serif; color:#111; margin-top:0.2em;}
h2{background:#bebecc; color:#111; border:1px solid #000; padding-left:6px; padding-top:2px; margin-top:1em; font-family:serif; }
h3 {margin-left:0.5em; margin-top:2em;}
h4 {margin-left:0.5em; margin-bottom:0em;}
h5 {margin:0.5em;}
p,table,object,pre  {margin:0.2em 3em 1em 1em;}
li {margin-bottom:0.5em; margin-right:12%;}
li span {background:transparent; color:#a00;}
li pre {margin:0.2em 0em 0em 0em;}
a:link {background:transparent; color:#22e;}
a:link:hover {background:transparent; color:#079; }
code, pre {background:#ccc; color:#000; padding:0.2em;}

 .nh {margin-right:11em;}
.stil{padding:0.7em 2% 0.8em 2%; border:0.2em ridge #555;}
.cntr{text-align:center; clear:both;}
.right {text-align:right}
.nobord {border:0;}
.small {font-size:100%;}
.ram {border:1px solid #000; width:90%; margin:1em; padding:10px;}
.warning {background:transparent; color: #f00;}
.sruler {width: 80%;}
.flr {float:right; margin-bottom:1em; margin-left:1em;}
.info {vertical-align:middle; margin-right:4px;}

#topp{text-align:center; min-width:30em; max-width:56em; color:#fff; border:0;}
#cont {text-align:left; padding-top:0em; margin-top:2em; background:#e8e8e8 no-repeat 4em 0px fixed; color:#000;}
#urub {border:0; font-size:90%; font-family:sans-serif; margin-left:1em; margin-right:1em;}

#menu {margin-left: auto; margin-right: auto; width: 100%; height: 0px; font-weight:bold;}
#menu a {text-decoration:none; padding:0.1em; background:transparent; color:#000000; font-size:110%;}
#menu a:hover {background:#e8e8e8; color:#000;}

#hide {display:none; background:#bebecc; color:#000; border:1px solid #777; font-weight:bold; margin-top:1em; padding:3px; font-size:80%;}
#logo {float:left; margin-left:1em;}
#float {float:right; margin-right:1em;}
#keys {border:1px solid #000; width:90%; margin-left:4%;}
#keys td {border-bottom:1px solid #000;}

#infor {float:right; width:14em; min-width:204px; margin-left:4%; padding:0.4em; background:#bebecc; color:#000; border:1px solid #555;}
#infor ul {padding-left:1em; list-style-position:outside; list-style-type:none;}
#infor ul a {margin-bottom:0em; padding:0.2em; text-decoration:none; display:block; background:#e8e8e8; color:#22e;}
#infor ul a:visited {background:#e8e8e8; color:#528;}
#infor ul a:hover {background:#054269; color:#bbc;}
#infor li,#menu li {margin-bottom:0em; padding:0em;}
#infor h4 {margin-top:0px;}
#infor p {margin:0.5em 1em 0.5em 1em;}
#infor .shot {display:block; text-align:center;}
#infor img  {border:0;}

#lang {float:left; width:14em; min-width:204px; margin-left:4%; padding:0.4em; background:#bebecc; color:#000; border:1px solid #555;}
#lang ul {padding-left:1em; list-style-position:outside; list-style-type:none;}
#lang ul a {margin-bottom:0em; padding:0.2em; text-decoration:none; display:block; background:#e8e8e8; color:#22e;}
#lang ul a:visited {background:#e8e8e8; color:#528;}
#lang ul a:hover {background:#054269; color:#bbc;}
#lang li,#menu li {margin-bottom:0em; padding:0em;}
#lang h4 {margin-top:0px;}
#lang p {margin:0.5em 1em 0.5em 1em;}
#lang .shot {display:block; text-align:center;}
#lang img  {border:0;}

.imglist {list-style:none; }
.imglist a {margin-left:0.6em; position:relative; top:-12px;;}

@media print {
body {background:#fff; color:#000; margin-left:4%; margin-right:2%; font-family: helvetica,sans-serif;}
p  {margin: 1em 3em 1em 0.5em;}
a:link {background:transparent; color:#000; text-decoration:none; }
a:visited {background:transparent; color:#000; text-decoration:none; }
img, #infor ul, #lang, #menu, #hide a  {display:none; background:transparent; color:#fff;}
.stil, .htwo, #cont, #hide {background:transparent; color:#000; margin-left:0px; border:0;}
.vit {background:transparent; color:#fff; font-weight:bold;}
#urub {font-size:90%; text-align:center;}
}

div.fork_github:before {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    content: url(https://gcmd.github.io/img/fork_me_github.png);
    height: 149px;
    width: 149px;
}

#box-link { 
position: absolute; 
top: 0; 
right: 0; 
width: 149px; 
height: 149px; 
background-color: transparent; 
}	
