body {background:#000045 url(img/blueline.png) fixed; color:#ccc; margin-left:8%; margin-right:5%; font-family:sans-serif;}
h1 {font-family:serif; margin-top:0.5em; text-align:center;}
h3 {margin-left:0.5em;}
p  {margin:1em;}
li {margin-bottom:0.2em;}
a {background:transparent; color:#0a0;}
a:hover {background:transparent; color:#0f0;}
span {display:block; width:8em; padding:2px}
span:hover {background:#ccc; color:#f00;}

.htwo {font-family:serif; background:#ccc; color:#000; padding-left:6px; margin-top:1%;} 
.vit {background:#ccc; color:#000; font-weight:bold;}
.cntr {text-align:center;}
.bryt {clear:both;}

#menu {clear:both; float:left; width:8em; padding:1em; height:20em; border:1px solid #66b; background:transparent; color:#ccc}
#menu a {text-decoration:none; font-weight:bold; background:transparent; color:#0a0; }
#menu a:hover {background:transparent; color:#f00; }
#topp {padding:6px; border:1px solid #66b; max-width:54em} 
#urub {margin-top:-1em;}
#logo {float:left;}
#float {float:right;}
#cont {margin:0em 0em 1em 11.3em; padding:1%; border:1px solid #66b; max-width:42.3em} 
#hide {display:none; background:transparent; color:#ccc; margin-top:1em; font-weight:bold; font-size:80%; border:1px solid #66b;}
          
#cssbyt {display:none;}
#scrshot {margin-left:1em; max-width:40em;}
#def {float: left; margin-bottom:1em;}
#cust {float: right;}


