body {background:#079; color:#000; margin-left:13%; margin-right:14%; font-family: helvetica,sans-serif;}
h1{font-family:serif; margin-top:0.2em;}
h3 {margin-left:0.5em;}
h4 {margin:1em;}
p  {margin:1em 2em 1em 1em;}
li {margin-bottom:0.4em;}

.stil{background:#e8e8e8; color:#000; margin:0px; padding:2%; border:0.2em ridge #ccc; max-width:46em;}
.htwo{background:#ccc; color:#000; padding-left:6px; padding-top:2px; margin-top:0.5em; font-family:serif;}
.cntr{text-align:center;}
.bryt {clear:both;}

#menu{background:transparent; color:#e8e8e8; padding:0.4%; text-align:center; font-weight:bold; max-width:46em;}
#menu a {text-decoration:none; font-weight:bold; background:#079; color:#e8e8e8; }
#menu a:hover {background:#079; color:#0f0; }
#hide {display:none; background:#ccc; color:#000; border:1px solid #777; font-weight:bold; margin-top:1em;}
#cssbyt {display:none;}
#topp{text-align:center;}
#urub {margin-top:-0.5em; margin-bottom:0em;}
#luft {display:none;}
#logo {float:left;}
#float {float:right;}
#def{float: left; margin-bottom:1em;}
#cust{float: right;}
#vers {float: right; margin:2em 3em 1em 2em;}
