body {background:#000045 url(img/blueline.png) fixed; color:#e8e8e8; margin-right:1em;}
h1 {font-family:serif; font-size:2.5em; text-align:center; margin-bottom:0.4em;}
table {background:transparent; color:#e8e8e8;}
p  {margin:0% 2% 2% 2%;}
li {margin-bottom:0.2em;}

.htwo {margin-left:-9em; text-align:right; width:8em; background:transparent; color:#0a0;}
.stil {background:transparent; color:#e8e8e8; margin-left:32%; max-width:38em; font-family: helvetica,sans-serif;}
.vit {background:#00b; color:#fff; font-weight:bold;}
.cntr {text-align:center;}
.bryt {clear:both;}

#menu {background:transparent; color:#ccc; margin-left:32%; margin-top:0.5em; font-weight:bold; text-align:center; max-width:38em;}
#menu a {text-decoration:none; font-weight:bold; background:transparent; color:#0a0; }
#menu a:hover {background:transparent; color:#0f0; }
#hide {display:none; background:transparent; color:#e8e8e8; border:1px solid #777; font-weight:bold;}
#cssbyt {display:none;}
#logo {position:absolute; top:2em; left:2%; background:#e8e8e8; color:#000;}
#float {position:absolute; top:20em; left:3%; background:#e8e8e8; color:#000;}
#urub {font-size:90%;}
#def {float: left; margin-bottom:1em;}
#cust {float: right;}
