<!DOCTYPE HTML>
<html lang="en">
<head>
<title>The Gnome Commander homepage</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="KeyWords" content="gnome,commander,file manager">
<meta name="Description" content="A powerful two pane file manager for the Gnome desktop">
<meta name="author" content="Uwe Scholz" >
{% feed_meta %}
<link rel="shortcut icon" href="/img/icon.png" type="image/png">
<link href="/style-a.css" rel="stylesheet" title="Default" type="text/css">
</head>

<body>
<div class="stil" id="topp">
    <img src="/img/logo.svg" width="85" height="79" id="logo" alt="">
    <img src="/img/floating.png" width="94" height="79" id="float" alt="">
    <h1>Gnome Commander</h1>
    <h1 id="urub">A powerful file manager for the GNOME desktop environment</h1>
    </div>
    <div id="menu" class="cntr">
        <a href="/index.html" title="The home page">[Home]</a>
        <a href="/shots.html" title="Images tell a lot..">[Screenshots]</a>
        <a href="/download.html" title="Links to downloads">[Download]</a>
        <a href="/doc.html" title="Tips, tricks, help...">[Documentation]</a>
        <a href="/dev.html" title="Contribute, report bugs, submit translations...">[Development]</a>
    </div>
    <div id="cont" class="stil">

        {{ content }}

        <p class="cntr">
            <a href="#topp"><br>To top of page</a>
        </p>
    </div>

    <div class="cntr">
			&nbsp;<br>
			<a href="https://validator.w3.org/check?uri={{site.url}}{{page.url}}">
				<img src="/img/valid5.png" width="88" height="31" class="nobord" alt="Valid html 5">
			</a>
			<br>
         <p class="c4"><br>
            <a href="https://www.colourlovers.com/pattern/210651/ice_cubes">Background image</a>
            by 
            <a href="https://www.colourlovers.com/lover/Skyblue2u">Skyblue2u</a>
            (<a href="https://creativecommons.org/licenses/by-nc-sa/3.0/">CC-BY-NC-SA</a>)
         </p>
    </div>
</body>
</html>

